body {
	width: 100%;
	background-color: #104E8B;
	/*-moz-box-shadow: 5px 13px 12px black;
	-webkit-box-shadow: 5px 13px 12px black;*/
	box-shadow: /*5px 13px 12px black,*/ inset 1px 0px 300px 0px #C7C7C7; 
	margin: 0px;
	padding: 0px;
}

#container {
	font-family: 'Finger Paint', sans;
	width: 77.45098%;
	border: 1px solid #666;
	margin-left: 10%;
	padding-bottom: 40px;
	background-color: #F8F8FF;
	-moz-box-shadow: 5px 13px 12px black;
	-webkit-box-shadow: 5px 13px 12px black;
	box-shadow: 5px 0px 12px black, inset 0px 0px 300px 0px #C7C7C7; 
}

#client {
	color: #333333;
	width: 40%;
	font-size: 2em;
	text-align: center;	
	border-bottom: 2px solid;
	padding-bottom: 1px;
	margin-left: 30%;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
}


a:link {
	color: #CD0000;
}

a:visited {
	color: #CD0000;
}

a:hover {
	color: #CD0000;
}

a:active {
	color: #CD0000;
}

#name {
	text-align: center;
	position: top;
}


#project {
	font-size: 1em;
	width: 100%;
	color: #3B3B3B;
	text-align: center;
	font-weight: normal;
	opacity: .9;
	margin-bottom: 1%;
}

#designer {
	font-size: 1em;
	text-align: center;
	font-weight: normal;
	width: 100%;
	color: #3B3B3B;
	opacity: .9;
	margin-bottom:  30px;
}



/*------------------------------- Analysis ----------------------------------*/



#analysis {
	clear: both;
	margin: 0% 10% 0% 10%;
}

h2 {
	font-weight: bold;
	color: #333333;
	font-size: 1.375em;
	padding-top: 15px;
	text-decoration: underline;
}

p {
	color: #3B3B3B;
	text-indent: 2%;  
}

h3 {
	font-weight: bold;
	color: #00688B;
	font-size: 1.062em;
	margin-top: 0;
	margin-bottom: 0;
}

#keywords {
	text-indent: 0;
	margin-top: 8px; 
}

ul {
	padding-left: 0;
}

h4 {
	font-size: .937em;
	color: #4A708B;
	text-indent: 2%;
}

li {
	color: #4F94CD;
	margin-left: 6%;
}

.demo {
	color: #616161;
	margin-left: 6%;
}

.discription {
	width: 60%;
	margin-left: 10%;
	color: #3B3B3B;
}

#site {
	padding-bottom: 30px;
	margin-top: 8px;
}

#demo {
	margin-left: 6%;
}

#audit {
	font-size: .875em;
	padding-top: 40px;
}


